@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Poppins';
	user-select: none;
}

body {
	margin: 0px;
	height: 100vh;
}

.bg {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -1000;
	background-color: #3c4342;
	background-image: url('coming_soon.png');
	object-fit: cover;
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
}

.bg img {
	width: 80%;
}

.header {
	position: fixed;
	top: 32px;
	width: 90%;
	height: 72px;
	left: calc(50% - 90%/2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	/**The header should be above the Body**/
}

.header .logo {
	font-style: normal;
	font-size: 36px;
	color: white;
	font-weight: 600;
	line-height: 36px;
}

.header .logo img {
	width: 51px;
}

.header .nav {
	color: white;
}

.header .nav .nav-items {
	display: block;
}

.header .nav .nav-items label {
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
	font-size: 22px;
	margin-right: 30px;
}

.header .nav .nav-items label:last-child {
	margin-right: 0px;
}

.header .svg-burger-bar {
	display: none;
}

.header svg {
	position: relative;
	z-index: 99999;
}

.body {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: normal;
	font-size: 48px;
	font-weight: 800;
	line-height: 141px;
	letter-spacing: 1em;
	color: white;
}

.body>div {
	position: absolute;
	text-align: center;
	font-family: 'Poppins';
}

.side-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
	z-index: 9999;
	transition: transform 0.2s, opacity 0.2s;
	transform: translateX(100%);
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.side-nav label {
	position: relative;
	font-family: 'Open Sans';
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	opacity: 0.8;
	letter-spacing: 1px;
	user-select: none;
}

.side-nav.opened {
	transform: translate(0%);
	opacity: 1;
}

.side-nav label:after {
	content: '';
	position: absolute;
	width: calc(100% + 6px);
	max-width: 0px;
	height: 3px;
	background-color: #6E88AD;
	bottom: -4px;
	left: -3px;
	border-radius: 5px 0px 5px 0px;
	transition: max-width 0.2s;
}

.side-nav label:hover:after {
	max-width: calc(100% + 6px);
}

@media only screen and (max-width: 768px) {

	/* For mobile phones */
	.header .logo img {
		width: 37px;
	}

	.header .logo {
		font-size: 24px;
	}

	.header .svg-burger-bar {
		display: inline-block;
	}

	.header .nav .nav-items {
		display: none;
	}

	.body {
		font-size: 16px;
	}

	.body>div {
		padding-left: 2px;
	}

	.bg img {
		width: 99%;
	}
}